// Variables
$heading-color: #b2c8e5;
$inputs-color: #e0e0e2;
$button-color: #01153a;
$question-column-color: #568cb5;
$button-last-color: #332f30;

$image-background1: #91aabd;
$image-background2: #272727;
$image-background3: #31373d;

// Mixins
@mixin respond($breakpoint) {
  @if $breakpoint == phone {
    @media (max-width: 37.5em) {
      @content;
    }
  }
  @if $breakpoint == tab-port {
    @media (max-width: 56.25em) {
      @content;
    }
  }
  @if $breakpoint == tab-land {
    @media (max-width: 75em) {
      @content;
    }
  }
  @if $breakpoint == big-desktop {
    @media (min-width: 112.5em) {
      @content;
    }
  }
}

@mixin transform($in) {
  transform: $in;
  -webkit-transform: $in;
  -moz-transform: $in;
  -o-transform: $in;
  -ms-transform: $in;
}

@mixin animation($in) {
  animation: $in;
  -webkit-animation: $in;
  -moz-animation: $in;
  -o-animation: $in;
  -ms-animation: $in;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
  height: 100%;
}

body {
  height: 100%;
}

// Headings
.heading-primary {
  color: $heading-color;
  font-size: 7.5rem;
}

.heading-secondary {
  font-size: 3.5rem;
  margin-bottom: 5%;
}

.question-heading {
  font-size: 3rem;
  color: $button-color;
  margin-bottom: 8%;
  line-height: 5rem;
}

// Buttons
.btn {
  text-decoration: none;
  cursor: pointer;
  border: 3px solid $heading-color;
  border-radius: 8px;
  outline: none;
  overflow: hidden;
  color: $heading-color;
  background: $button-color;
  transition: all 0.4s ease-out;
  text-align: center;
  font-size: 3rem;
  padding: 4% 8%;

  &:hover {
    color: $button-color;
    border: 3px solid $button-color;
    background: $heading-color;
    @include animation(shakeThatBooty 0.3s linear 1);
  }
}

.btn-next {
  color: $heading-color;
  border: 2px solid #b2c8e5;
  background: $button-color;
  padding: 2% 4%;
  align-self: flex-start;
}

.btn-last {
  color: $button-last-color;
  border: 3px solid $button-last-color;
  background: $inputs-color;
  font-family: "Poppins", sans-serif;
  padding: 3% 6%;

  &:hover {
    color: $inputs-color;
    border: 3px solid $inputs-color;
    background: $button-last-color;
    @include animation(shakeThatBooty 0.3s linear 1);
  }
}

// Two-column layout
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

// Header
.header {
  height: 100vh;
  background: url(../../src/img/avengers-1.jpg) no-repeat bottom center fixed;
  background-size: 100vw 100vh;
  font-family: "Poppins", sans-serif;
  padding: 20% 10%;
}

.heading-box {
  display: flex;
  flex-direction: column;
  width: 40%;
}

.box-btn {
  margin-top: 15%;
}

// Section questions
.question-column {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: $question-column-color;
  padding: 15%;
}

.answers__list {
  list-style-type: none;

  &-item {
    font-size: 2.3rem;
    margin-right: -10rem;
    line-height: 2.5;
    color: $inputs-color;
  }
}

.box-btn-next {
  margin-top: 10%;
}

.arrow-right {
  margin-left: 1.5rem;
}

input[type="radio"] {
  margin-right: 2.5rem;
  width: 1.8rem;
  height: 1.8rem;
}

label {
  display: flex;
  align-items: center;
}

.image-column {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.backgroundColor-0 {
  background-color: $image-background1;
}

.backgroundColor-8 {
  background: $image-background2;
}

.backgroundColor-9 {
  background: $image-background3;
}

.image-box {
  min-width: 0;
}

.image {
  width: 65rem;
  max-width: 100%;
  max-height: 100%;
}

// Section outcome

.outcome-column {
  align-self: center;
  margin-top: 22%;
  width: 65%;
  color: $button-last-color;
}

.outcome-text {
  font-size: 1.9rem;
  line-height: 1.9;
}

.box-btn-last {
  margin-top: 30%;
  display: flex;
  justify-content: center;
}

// CSS for cube - perspective
.pt-perspective {
  position: relative;
  width: 100%;
  height: 100%;
  perspective: 1200px;
  transform-style: preserve-3d;
}

.pt-page {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  overflow: hidden;
  backface-visibility: hidden;
  transform: translate3d(0, 0, 0);
}

.pt-page-current,
.no-js .pt-page {
  visibility: visible;
}

.no-js body {
  overflow: auto;
}

.pt-page-ontop {
  z-index: 999;
}

// CSS for cube

.pt-page-rotateCubeLeftOut {
  -webkit-transform-origin: 100% 50%;
  transform-origin: 100% 50%;
  -webkit-animation: rotateCubeLeftOut 0.6s both ease-in;
  animation: rotateCubeLeftOut 0.6s both ease-in;
}
.pt-page-rotateCubeLeftIn {
  -webkit-transform-origin: 0% 50%;
  transform-origin: 0% 50%;
  -webkit-animation: rotateCubeLeftIn 0.6s both ease-in;
  animation: rotateCubeLeftIn 0.6s both ease-in;
}

// Keyframes for cube
@-webkit-keyframes rotateCubeLeftOut {
  0% {
  }
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
  }
}
@keyframes rotateCubeLeftOut {
  0% {
  }
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
    transform: translateX(-50%) translateZ(-200px) rotateY(-45deg);
  }
  100% {
    opacity: 0.3;
    -webkit-transform: translateX(-100%) rotateY(-90deg);
    transform: translateX(-100%) rotateY(-90deg);
  }
}

@-webkit-keyframes rotateCubeLeftIn {
  0% {
    opacity: 0.3;
    -webkit-transform: translateX(100%) rotateY(90deg);
  }
  50% {
    -webkit-animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);
  }
}
@keyframes rotateCubeLeftIn {
  0% {
    opacity: 0.3;
    -webkit-transform: translateX(100%) rotateY(90deg);
    transform: translateX(100%) rotateY(90deg);
  }
  50% {
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-transform: translateX(50%) translateZ(-200px) rotateY(45deg);
    transform: translateX(50%) translateZ(-200px) rotateY(45deg);
  }
}

@keyframes shakeThatBooty {
  33% {
    @include transform(rotateZ(10deg));
  }
  67% {
    @include transform(rotateZ(-10deg));
  }
  100% {
    @include transform(rotateZ(10deg));
  }
}
