// Media query

@mixin respond($breakpoint) {
    @if $breakpoint == phone {
      @media (max-width: 37.5em) {@content; }
    }
    @if $breakpoint == tab-port {
      @media (max-width: 56.25em) {@content; }
    }
    @if $breakpoint == tab-land {
      @media (max-width: 75em) {@content; }
    }
    @if $breakpoint == big-desktop {
      @media (min-width: 112.5em) {@content; }
    }
  }


  // Variables
  $button-color: #01153A;

*, 
*::before,
*::after
 {
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

// Mixins
@mixin center {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

@mixin transform($in) {
	transform:$in;
	-webkit-transform:$in;
	-moz-transform:$in;
	-o-transform:$in;
	-ms-transform:$in;
}

@mixin animation($in) {
	animation:$in;
	-webkit-animation:$in;
	-moz-animation:$in;
	-o-animation:$in;
	-ms-animation:$in;
}

html {
    font-size: 62.5%;
    scroll-behavior: smooth;
    height: 100%;
}

.header {
    height: 100vh;
    background: url(../../src/img/avengers-1.jpg) no-repeat bottom center fixed; 
    background-size: 100vw 100vh;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 8%;
}

.heading-primary {
  color: #B2C8E5;
  font-size: 6.3rem;
  margin-top: 10%;
}

.box-btn {
  padding-top: 4%;
}

.btn {
  text-decoration: none;
  cursor: pointer;
  border: 2px solid $button-color;
  border-radius: 8px;
  outline: none;
  overflow: hidden;
  color: $button-color;
  transition: all 0.4s ease-out;
  text-align: center;
  font-size: 3rem;
  padding: 1% 4%;
  position: relative;
  display: block;
  width: 17%;
  
  &:hover{
    color: #B2C8E5;
    border: 2px solid #B2C8E5; 
    background: #01153A;
    @include animation(shakeThatBooty 0.3s linear 1);		
  }
}

@keyframes shakeThatBooty {
	33% {
		@include transform(rotateZ(10deg));
	}
	67% {
		@include transform(rotateZ(-10deg));
	}
	100% {
		@include transform(rotateZ(10deg));
	}
}

// Section questions

.section__questions {
  height: 100vh;
}

.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}

.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}

.question-column {
  background-color: blue;
  height: 100vh;
}

.image-column {
  background-color: green;
  height: 100vh;
}


